<div >
	<form  #frmBusqueda="ngForm"  (ngSubmit)="onSubmit(frmBusqueda)" id="fsbusqueda" >
      <input type="search" name="nameToFind" (keyup)="buscarAmigos(nameToFind)" [(ngModel)]="nameToFind" id="txtbusqueda"  placeholder=" Buscar..." required >
      <button id="btnbusqueda" [disabled]="!frmBusqueda.valid"> Buscar
        <!--<i id="fa fa-search" class="fa fa-search"></i>-->
      </button>
  </form>
  <div id="sugerencias" ></div>
    <ul *ngFor="let unAmigo of listaUsuarios">

        <li class="collection-item avatar"><a href="./musuario?id='+unAmigo.id+'"><img src="'+ unAmigo.foto +'" alt="" class="circle"><span class="title">{{unAmigo.nombre}}   {{unAmigo.apellidos}}
        </span></a></li>
      <li></li>
    </ul>
	</div>