<div>
  <form class="editPerf-form" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
    <div>
      <div>
        <label>Seleccione una imagen de perfil:
          <input type="file" id="files" name="files" />
        </label>
        <img src="">
        <output id="list"></output>
        <div id="foto"></div>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="text" matInput name="nombre" id="nombre" [(ngModel)]="unUsuario.nombre">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="text" matInput name="apellidos" id="apellidos" [(ngModel)]="unUsuario.apellidos">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="text" matInput name="email" id="email" [(ngModel)]="unUsuario.email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="password" matInput name="password" id="password" [(ngModel)]="unUsuario.password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="password" matInput name="repassword" id="repassword" [(ngModel)]="unUsuario.password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="text" matInput name="ciudad" id="ciudad" [(ngModel)]="unUsuario.ciudad_recide">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="text" matInput name="calle" id="calle" [(ngModel)]="unUsuario.calle">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="editPerf-full-width">
          <input type="date" matInput name="fecha" [(ngModel)]="unUsuario.fecha_nacimiento">
        </mat-form-field>
      </div>
      <!-- <div>
        <label for="sexo"></label>
        <input type="radio" name="sexo" id="sexo" [(ngModel)]="unUsuario.sexo">
      </div> -->
      <section class="sexo-section">
        <legend>Seleccione su sexo:</legend>
        <p>
          <label>
            <input name="group" type="radio" [(ngModel)]="unUsuario.sexo" value="0">
            <span>Varon</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group" [(ngModel)]="unUsuario.sexo" value="1" type="radio">
            <span>Mujer</span>
          </label>
        </p>
      </section>

      <div>
        <label for="pais">Pais</label>
        <select name="pais" id="pais" [(ngModel)]="unUsuario.pais_recide" required>
          <option *ngFor="let unPais of paises" [ngValue]="unPais.cid">{{unPais.nombre}}</option>
        </select>
      </div>

      <section class="insFav-section">
        <div class="form-group">Instrumentos Favoritos:
          <div class="form-check" *ngFor="let aIns of instrumentos; let i = index;">
            <label class="form-check-label" for="aIns{{aIns.nombre}}">
              <input class="form-check-input" type="checkbox" id="aIns{{aIns.nombre}}" name="tagOptions" [checked]="aIns.checked"> {{aIns.nombre}}
            </label>
          </div>
        </div>
      </section>
      <section class="generMusi-section">
        <div class="form-group">Generos Musicales:
          <div class="form-check" *ngFor="let aGenre of generos_musicales; let i = index;">
            <label class="form-check-label" for="aGenre{{aGenre.nombre}}">
              <input class="form-check-input" type="checkbox" id="aGenre{{aGenre.nombre}}" name="tagOptions" [checked]="aGenre.checked"> {{aGenre.nombre}}
            </label>
          </div>
        </div>
      </section>
      <br>
      <br>
      <div>
        <button [disabled]="!editForm.valid">Guardar</button>
      </div>
    </div>
  </form>
</div>