.editPerf-form {
    min-width: 150px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
  }
  
  .editPerf-full-width {
    width: 100%;
  }

  .sexo-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .insFav-section {
    display: inline-block;
   
    height: auto;
  }
  .generMusi-section {
    display: inline-block;
    
    height: auto;
  }
  /* .form-check-label{
    display: inline-block;
  } */