<div >
  <img class="avatar-image" [src]="usuario.foto" alt="Photo of users">
  <div>
    <mat-card-title >{{usuario.nombre}} {{usuario.apellidos}} 
       
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-title >
         {{usuario.ciudad_recide}}
    </mat-card-title>
    

  </div>
  <br>
  <!--<mat-card-actions>
      <button mat-fab class="iconos"><mat-icon>person</mat-icon></button>
      <button mat-fab class="iconos "><mat-icon>person_add</mat-icon></button>
    </mat-card-actions>
  -->
    Instrumentos Musicales:: <br>
  <div class="example-section" >
      <mat-checkbox class="example-margin" [checked]="checked" *ngFor="let unInstrumento of usuario.listaInstrumentos">
        {{unInstrumento.nombre}}
      </mat-checkbox>
  </div>

  <mat-divider></mat-divider>


  <div class="example-section">
      Gustos Musicales:: <br>
      <mat-checkbox class="example-margin" [(ngModel)]="checked"  *ngFor="let unGenero of usuario.listaGenero_musical">
        {{unGenero.nombre}}
      </mat-checkbox>
  </div>
</div>
