<section>
  <form #regiForm="ngForm" (ngSubmit)="onSubmit(regiForm)">
    <h2>
      Registrate
    </h2>
    <div>
      <label for="">Nombre</label>
      <input type="text" [(ngModel)]="Usuario.nombre" placeholder="" name="nombre" id="usuario" required>
    <!-- <div *ngIf="submitted && f.nombre.errors">
      <div *ngIf=""></div> -->
    <!-- </div> -->
    </div>
    <div>
        <label for="">Apellidos</label>
      <input type="text" [(ngModel)]="Usuario.apellidos" placeholder="" name="apellidos" id="Apellidos" required>
    </div>
    <div>
        <label for="">Email</label>
      <input id="email" name="email" type="email" [(ngModel)]="Usuario.email" placeholder="" required>
    </div>
    <div>
        <label for="">Contraseña</label>
      <input type="password" [(ngModel)]="Usuario.password" id="password" minlength="3" maxlength="12" placeholder="" name="password">
    </div>
    <div>
        <label for="">Repite Contraseña</label>
      <input id="password_confirm"  minlength="3" maxlength="12" name="confirmar_clave" required="required" type="password"
        placeholder=";" />
    </div>
    <div>
      <button [disabled]="!regiForm.valid">Registrate</button>
    </div>

  </form>
</section>